<!-- INNER PAGE BANNER -->
<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">Tư Vấn Đo Đạc</h1>
        </div>
    </div>
</div>                            
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>Tư Vấn Đo Đạc</li>
        </ul>
    </div>
</div>
<div class="section-full  p-t20 p-b20 bg-gray">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase">Tư Vấn Đo Đạc</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>            
        </div>
        <% if @consultant_services.count > 0 %>
            <div class="section-content no-col-gap consult">
                <div class="row">
                    <% @consultant_services.each do |service| %>
                        <div class="col-md-4 col-sm-6 animate_line">
                            <div class="wt-icon-box-wraper p-a20 center bg-white m-a5">
                                <div class="icon-sm text-primary m-b20">
                                    <%= image_tag service.icon_url.icon, alt: service.name %>
                                </div>
                                <div class="icon-content">
                                    <h5 class="wt-tilte text-uppercase"><%= service.name %></h5>
                                    <p><%= service.description %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% else %>
            <div class="alert alert-warning">
                <strong>Thông báo: </strong>Nội dung tư vấn đo đạc đang được Hoàn Mỹ Surveyors cập nhật.
            </div>
        <% end %>
    </div>
</div>