<!-- INNER PAGE BANNER -->
<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">Chi Tiết Thủ Tục Đất Đai</h1>
        </div>
    </div>
</div>
<!-- INNER PAGE BANNER END -->
<!-- BREADCRUMB ROW -->                            
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>
                <%= link_to 'Thủ Tục Đất Đai', erp_hoanmy.procedure_listing_path, title: 'Thủ Tục Đất Đai' %>
            </li>
            <li>Chi Tiết Thủ Tục Đất Đai</li>
        </ul>
    </div>
</div>
<!-- BREADCRUMB ROW END -->
<!-- SECTION CONTENT -->         
<div class="section-full  p-t20 p-b20  ">
    <div class="container  bg-white ">
            <div class="row">
            <!-- LEFT PART -->
            <div class="col-md-3 col-sm-3 p-tb15">
                <!-- BROCHURES -->
                <div class="wt-box m-b30">
                    <div class="text-left m-b20">
                             <h4>Brochures</h4>
                             <div class="wt-separator-outer">
                                 <div class="wt-separator style-square">
                                   <span class="separator-left bg-primary"></span>
                                   <span class="separator-right bg-primary"></span>
                               </div>
                            </div>
                         </div>
                    <div class="wt-icon-box-wraper left bdr-1 bdr-gray p-a15 m-b15">
                        <a href="#" class="btn-block">
                            <span class="text-black m-r10"><i class="fa fa-file-pdf-o"></i></span>
                            <strong class="text-uppercase text-black">Download .PDF</strong>
                        </a>
                    </div>
                    <div class="wt-icon-box-wraper left bdr-1 bdr-gray p-a15 m-b15">
                        <a href="#" class="btn-block">
                            <span class="text-black m-r10"><i class="fa fa-file-word-o"></i></span>
                            <strong class="text-uppercase text-black"> Download .DOC</strong>
                        </a>
                    </div>
                    <div class="wt-icon-box-wraper left bdr-1 bdr-gray p-a15 m-b15">
                        <a href="#" class="btn-block">
                            <span class="text-black m-r10"><i class="fa fa-file-powerpoint-o"></i></span>
                            <strong class="text-uppercase text-black">Download .PPT</strong>
                        </a>
                    </div>
                </div>
                
                <!-- WHAT WE DO -->
                <div class="wt-nav-block m-b30">
                    <h2 class="wt-nav-title">What we do</h2>
                    <ul class="wt-nav wt-nav-pills">
                      <li><a href="javascript:void(0);">Electricity</a></li>
                      <li><a href="javascript:void(0);">Refurbishment</a></li>
                      <li><a href="javascript:void(0);">House Security</a></li>
                      <li><a href="javascript:void(0);">Laminate flooring</a></li>
                      <li><a href="javascript:void(0);">General Contracting</a></li>
                      <li><a href="javascript:void(0);">Construction Consultant</a></li>
                    </ul>
                </div>   
                                             
                <!-- CONTACT US -->
                <div class="widget bg-white  widget_getintuch">
                    <h4 class="widget-title">Thông Tin Liên Hệ</h4>
                    <ul>
                      <li><i class="fa fa-map-marker"></i><strong>Address</strong> Street No:4 , Robert villsan road  </li>
                      <li><i class="fa fa-fax"></i><strong>FAX</strong>(082) 634-3456</li>
                      <li><i class="fa fa-phone"></i><strong>phone</strong>0800-987654 (help 24/7 )</li>
                      <li><i class="fa fa-envelope"></i><strong>email</strong>thewebmaxmail@gmail.com</li>
                    </ul>
                </div>
            </div>
            <!-- LEFT PART --> 
            
            <!-- RIGHT PART -->
            <div class="col-md-9 col-sm-9 p-tb10">
                <!-- BLOG POST CAROUSEL -->
                 <div class="section-content ">
                    <div class="owl-carousel service-detail-carousel owl-btn-vertical-center owl-dots-bottom-center">
                    
                        <div class="item">
                            <div class="aon-thum-bx">
                                <img src="images/our-work/pic1.jpg" alt="">
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="aon-thum-bx">
                                <img src="images/our-work/pic2.jpg" alt="">
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="aon-thum-bx">
                                <img src="images/our-work/pic3.jpg" alt="">
                            </div>
                        </div>                                    
                    
                    </div>
                    <div class="wt-box">
                        <h2>General Contruction</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. remaining essentially unchanged. It was popularised in the with the . 
                        </p>
                        
                        <p>
                            Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. remaining essentially unchanged. It was popularised in the with the . 
                        </p>
                    </div>
                    <div class="wt-box">
                        <div class="p-t30 p-b50">
                            <!-- TITLE START -->
                            <div class="section-head">
                                            
                                <h2 class="text-uppercase">What is included</h2>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator style-square">
                                        <span class="separator-left bg-primary"></span>
                                        <span class="separator-right bg-primary"></span>
                                    </div> 
                                </div>
                            
                            </div>
                            <!-- TITLE END -->
                            <!-- ACCORDIAN  BACKGROUND GRAY -->                    
                            <div class="section-content p-b30">
                                <div class="wt-accordion acc-bg-gray" id="accordion5">
                                    <div class="panel wt-panel">
                                        <div class="acod-head acc-actives">
                                             <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5" ><i class="fa fa-globe"></i>
                                                    Awesome Web Design
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                             </h6>
                                        </div>
                                        <div id="collapseOne5" class="acod-body collapse in">
                                            <div class="acod-content p-tb15">Web design lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem Ipsum passagese.</div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                             <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo5" class="collapsed" data-parent="#accordion5" ><i class="fa fa-photo"></i>
                                                Different Graphic Design 
                                                <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                             </h6>
                                        </div>
                                        <div id="collapseTwo5" class="acod-body collapse">
                                            <div class="acod-content p-tb15">Graphic design lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem Ipsum passagese.</div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                            <a data-toggle="collapse"  href="#collapseThree5" class="collapsed"  data-parent="#accordion5"><i class="fa fa-cog"></i>
                                            Fast Developement
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h6>
                                        </div>
                                        <div id="collapseThree5" class="acod-body collapse">
                                            <div class="acod-content p-tb15">Developement lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem Ipsum passagese.</div>
                                        </div>
                                    </div>
                                </div>                                        
                           </div>
                        </div>
                    </div>
                 </div>    
             </div>
            <!-- RIGHT PART -->
        </div>
    </div>
 </div>
<!-- SECTION CONTENT END -->