<!-- INNER PAGE BANNER -->
<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">Giới Thiệu</h1>
        </div>
    </div>
</div>
<!-- INNER PAGE BANNER END -->
<!-- BREADCRUMB ROW -->                            
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<!-- BREADCRUMB ROW END -->
<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-t20 p-b20">
    <div class="container">
        <!-- TITTLE START -->
        <div class="section-head text-center">
            <h2 class="text-uppercase">Về Công Ty Hoàn Mỹ</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>
            <div class="content-about-us">
                <p>
                    <strong>CÔNG TY TNHH ĐẦU TƯ DỊCH VỤ XÂY DỰNG HOÀN MỸ</strong> là một trong những công ty chuyên về lĩnh vực đo đạc và bản đồ,
                    thiết kế kiến trúc xây dựng công trình và quy hoạch đô thị, là tập hợp một đội ngũ các Kỹ sư, Kiến trúc sư và các chuyên viên
                    trong lĩnh vực đo đạc, định vị, thiết kế, quy hoạch phân lô các công trình xây dựng công cộng, công sở, các công trình xây dựng
                    dân dụng và khu công nghiệp.
                </p>
            </div>
        </div>
        <!-- TITLE END -->                	
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
                <!--Fade slider-->
                <div class="owl-carousel about-us-carousel owl-btn-vertical-center owl-dots-bottom-center">
                    <div class="item">
                        <div class="aon-thum-bx">
                            <img src="/hoanmy/images/our-work/pic1.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="aon-thum-bx">
                            <img src="/hoanmy/images/our-work/pic2.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="aon-thum-bx">
                            <img src="/hoanmy/images/our-work/pic3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--fade slider END-->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
                <!-- ACCORDIAN  BG DARK -->
                <div class="section-content">
                    <div class="wt-accordion acc-bg-dark" id="accordion9">
                        <div class="panel wt-panel">
                            <div class="acod-head acc-actives">
                                <h6 class="acod-title text-uppercase">
                                    <a data-toggle="collapse" href="#collapseOne9" data-parent="#accordion9" ><i class="fa fa-globe"></i>
                                    High Rise Building Construction
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseOne9" class="acod-body collapse in">
                                <div class="acod-content p-tb15">Web design lorem Ipsum is simply dummy text of the printing and typesetting printer took a galley of type and scrambled it to make a type specimen book. industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap printer took a galley of type and scrambled it to make a type specimen book. into electronic typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem Ipsum passagese.</div>
                            </div>
                        </div>
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h6 class="acod-title text-uppercase">
                                    <a data-toggle="collapse" href="#collapseTwo9" class="collapsed" data-parent="#accordion9" ><i class="fa fa-photo"></i>
                                    Road Construction & Repair 
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseTwo9" class="acod-body collapse">
                                <div class="acod-content p-tb15">Web design lorem Ipsum is simply dummy text of the printing and typesetting printer took a galley of type and scrambled it to make a type specimen book. industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap printer took a galley of type and scrambled it to make a type specimen book. into electronic typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem Ipsum passagese.</div>
                            </div>
                        </div>
                        <div class="panel wt-panel">
                            <div class="acod-head">
                                <h6 class="acod-title text-uppercase">
                                    <a data-toggle="collapse"  href="#collapseThree9" class="collapsed"  data-parent="#accordion9"><i class="fa fa-cog"></i>
                                    Design for Business Center
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseThree9" class="acod-body collapse">
                                <div class="acod-content p-tb15">Web design lorem Ipsum is simply dummy text of the printing and typesetting printer took a galley of type and scrambled it to make a type specimen book. industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap printer took a galley of type and scrambled it to make a type specimen book. into electronic typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem Ipsum passagese.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT COMPANY SECTION END -->