<!-- INNER PAGE BANNER -->
<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">Giới Thiệu</h1>
        </div>
    </div>
</div>
<!-- INNER PAGE BANNER END -->
<!-- BREADCRUMB ROW -->                            
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<!-- BREADCRUMB ROW END -->
<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-t20 p-b20">
    <div class="container">
        <!-- TITTLE START -->
        <div class="section-head text-center">
            <h2 class="text-uppercase">Về Công Ty Hoàn Mỹ</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>
            <div class="content-about-us">
                <p>
                    <strong>CÔNG TY TNHH ĐẦU TƯ DỊCH VỤ XÂY DỰNG HOÀN MỸ</strong> là một trong những công ty chuyên về lĩnh vực đo đạc và bản đồ,
                    thiết kế kiến trúc xây dựng công trình và quy hoạch đô thị, là tập hợp một đội ngũ các Kỹ sư, Kiến trúc sư và các chuyên viên
                    trong lĩnh vực đo đạc, định vị, thiết kế, quy hoạch phân lô các công trình xây dựng công cộng, công sở, các công trình xây dựng
                    dân dụng và khu công nghiệp.
                </p>
            </div>
        </div>
        <!-- TITLE END -->                	
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
                <!--Fade slider-->
                <div class="owl-carousel about-us-carousel owl-btn-vertical-center owl-dots-bottom-center">
                    <div class="item">
                        <div class="aon-thum-bx">
                            <img src="/hoanmy/images/our-work/pic1.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="aon-thum-bx">
                            <img src="/hoanmy/images/our-work/pic2.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="aon-thum-bx">
                            <img src="/hoanmy/images/our-work/pic3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--fade slider END-->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
                <!-- ACCORDIAN  BG DARK -->
                <div class="section-content">
                    <div class="wt-accordion acc-bg-dark" id="accordion9">
                        <div class="panel wt-panel">
                            <div class="acod-head acc-actives">
                                <h6 class="acod-title text-uppercase">
                                    <a data-toggle="collapse" href="#collapseOne9" data-parent="#accordion9" ><i class="fa fa-globe"></i>
                                    THÔNG TIN CÔNG TY
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseOne9" class="acod-body collapse in">
                                <div class="acod-content p-tb15 text-justify">
                                    <strong>Tên công ty: </strong>Công Ty TNHH Đầu Tư Dịch Vụ Xây Dựng Hoàn Mỹ<br>
                                    <strong>Tên viết tắt: </strong>Công Ty TNHH ĐT DV XD Hoàn Mỹ<br>
                                    <strong>Ngày thành lập: </strong>04 tháng 7 năm 2018<br>
                                    <strong>Giấy phép đăng ký: </strong>Căn cứ Giấy phép đăng ký kinh doanh số: 3502366765 do Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư tỉnh Bà Rịa - Vũng Tàu cấp ngày 04/7/2018.<br>
                                    <strong>Giấy phép hoạt động đo đạc bản đồ: </strong>Giấy phép hoạt động đo đạc bản đồ số: 2172 được Cục đo đạc, bản đồ và thông tin địa lý Việt Nam cấp ngày 15 tháng 11 năm 2018.<br>
                                    <strong>Mã số thuế: </strong>3502366765<br>
                                    <strong>Số tài khoản: </strong>366768 tại Ngân hàng thương mại cổ phần Á Châu - PGD Bà Rịa<br>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT COMPANY SECTION END -->